*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --card-font-size: 20px;
    --card-font-weight:400;
    --page-color: rgb(231, 224, 224);

    background-color: var(--page-color);
}






/*Header        */
#header{
    background-color: white;
    box-shadow: 0px 5px 3px rgb(168, 168, 168);
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}


/*Main Container         */
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.add-btn{
    margin-top:30px;
    font-size: 24px;
    background-color:  var(--page-color);
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 6px;
}

.add-btn:hover{
    background-color: rgb(136, 129, 129);
}

.add-btn:active{
    background-color: rgb(202, 185, 185);
}

/*Book Cards             */
#books{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:15px;
    margin-top: 30px;
}


.book{
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    display: flex;
    flex-direction: column;
    background-color: white;
    gap:15px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons > button {
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    border-radius: 10px;
    border: 1px solid black;
}

#unfinish-btn{
    background-color: #ee7373;
    

}

#unfinish-btn:hover{
    background-color: #c95f5f;

}

#unfinish-btn:active{
    background-color: #aa4949;

}

#finish-btn{
    background-color: #73ee83;
    
}

#finish-btn:hover{
    background-color: #5fc964;

}

#finish-btn:active{
    background-color: #54aa49;

}




/*Modal  (Input Book Attributes)   */

.modal{
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
}

.modal-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 auto;
    padding: 25px;
    width: 25%;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
   
}

.close-btn{
    font-size: 24px;
    align-self: flex-end;
}

.close-btn:hover{
    cursor: pointer;
    color: rgb(116, 113, 113);
}

.close-btn:active{
    cursor: pointer;
    color: rgb(187, 183, 183);
}


.entry-input{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
}

input:invalid{
    border: 1px solid red;
}

.error-text{
    color: #ee7373;
    font-size: 14px;
    position: absolute;
    margin-top: 45px;
    font-weight: bold;
}

.check-box{
    flex-direction: row;
    gap: 10px;
}


.modal-add{
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    display: flex;
    margin:auto;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

